# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

dataset/*
Datensatz Gewebe/*
best_model.h5
0.3.0
*/__pycache__/*
/shelf/
/workspace.xml
.idea/*